@media all and (max-width: 800px) {
  .back-button {
    margin: 10px 10px 0px 10px;
    font-size: 12px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
  }

  .tag-section {
    padding: 10px;
  }

  .tag {
    display: flex;
    flex-flow: column;
    margin: 10px 0px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  #tag-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tag-id-name {
    display: flex;
    flex-flow: row;
  }

  .tag-id-name h3 {
    margin: 0;
  }

  .tag-id-name img {
    display: block;
    max-width: 30px;
    margin-right: 5px;
    height: 30px;
  }

  .tag-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
  }

  .tag-buttons button {
    font-size: 12px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
  }

  .tag-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media all and (min-width: 800px) {
  .back-button {
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
  }

  .back-button button:hover {
    background-color: #f94144;
    color: white;
    transition-duration: 0.3s;
  }

  .tag-section {
    padding: 10px;
  }

  .tag {
    display: flex;
    flex-flow: column;
    margin: 10px 0px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  #tag-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tag-id-name {
    display: flex;
    flex-flow: row;
  }

  .tag-id-name h3 {
    margin: 0;
  }

  .tag-id-name img {
    display: block;
    max-width: 30px;
    margin-right: 5px;
    height: 30px;
  }

  .tag-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    padding: 10px 0px;
  }

  .tag-buttons button {
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.41);
  }

  .tag h3 {
    font-size: 25px;
  }

  .tag-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
