@media all and (max-width: 800px) {
  .tag-section {
    padding: 10px;
  }

  .tag {
    display: flex;
    flex-flow: column;
    margin: 20px 0px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
  }

  #tag-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tag-buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tag-buttons button {
    margin: 5px;
  }

  .tag-id-name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .tag-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .tag ul {
    list-style-type: none;
  }

  .tag li {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}

@media all and (min-width: 800px) {
  .tag-section {
    padding: 10px;
  }

  .tag {
    display: flex;
    flex-flow: column;
    margin: 20px 0px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 0px 10px;
    min-width: 500px;
  }

  #tag-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .tag-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .tag-buttons button {
    margin: 5px;
  }

  .tag-id-name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .tag-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .tag ul {
    list-style-type: none;
  }

  .tag li {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}
