@media all and (max-width: 800px) {
  .register-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .register-section form {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 10px 10px 0px 10px;
    background-color: white;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .register-section form div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .register-section form input {
    margin: 10px 0px 10px 0px;
    min-width: 90%;
  }

  .register-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .register-section button {
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }
  .tiny-text {
    font-size: 10px;
  }
}

@media all and (min-width: 800px) {
  .register-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .register-section form {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 10px 10px 0px 10px;
    background-color: white;
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .register-section form div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .register-section form input {
    margin: 10px 0px 10px 0px;
    min-width: 90%;
  }

  .register-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .register-section button {
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .register-section button:disabled {
    background-color: lightgray;
  }

  .tiny-text {
    font-size: 10px;
  }
}
