@media all and (max-width: 800px) {
  .back-button-bar {
    display: flex;
    flex-flow: row;
    margin: 10px 0px 0px 10px;
  }

  .add-new-gift-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .add-new-gift-section form {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
  }

  .add-new-gift-section form input {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }

  .add-new-gift-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .add-new-gift-section button {
    margin-top: 15px;
    font-size: 18px;
  }
}

@media all and (min-width: 800px) {
  .back-button-bar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
  }

  .back-button-bar button {
    min-width: 60px;
  }

  .add-new-gift-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .add-new-gift-section form {
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    min-width: 60%;
  }

  .add-new-gift-section form input {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }

  .add-new-gift-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .add-new-gift-section button {
    margin-top: 15px;
    font-size: 18px;
    max-width: 20%;
  }
}
