@media all and (max-width: 800px) {
  .login-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login-section h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .login-section form {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .login-section form input {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }

  .login-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .login-section button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .demo-info {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 80%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .demo-info h4 {
    line-height: 1.5;
  }
}

@media all and (min-width: 800px) {
  .login-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login-section h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .login-section form {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    background-color: white;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .login-section form input {
    margin: 0px 0px 10px 10px;
    padding: 5px;
    width: 50%;
  }

  .login-section textarea {
    margin: 0px 0px 10px 0px;
    width: 95%;
  }
  .login-section button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .demo-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .demo-info h4 {
    line-height: 1.5;
  }
  .demo-info p {
    text-align: center;
  }
}
