@media all and (max-width: 800px) {
  * {
    font-family: sans-serif;
  }

  .add-new-buttons {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
  }

  .filter-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 20px 20%;
  }

  .clear-filter {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .gift-section {
    padding: 10px;
  }

  .gift {
    display: flex;
    flex-flow: column;
    margin: 20px 0px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 0px 10px;
  }

  #gift-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .gift-id-name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .gift-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .gift ul {
    list-style-type: none;
  }

  .gift li {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}

@media all and (min-width: 800px) {
  * {
    font-family: sans-serif;
  }

  .add-new-buttons {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
  }

  .add-new-buttons button {
    font-size: 15px;
  }

  .filter-section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px 0px;
  }

  .gift-section {
    padding: 10px;
  }

  .gift {
    display: flex;
    flex-flow: column;
    margin: 20px 0px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 0px 10px;
    min-width: 500px;
  }

  #gift-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .gift-id-name {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .gift-id-tags {
    display: flex;
    padding-left: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .gift ul {
    list-style-type: none;
  }

  .gift li {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}
