@media all and (max-width: 800px) {
  .hero-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .hero-1 img {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex: 1;
    max-width: 50px;
    height: 50px;
  }

  .hero-1 div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .hero-1 p {
    flex: 2;
  }

  .hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .hero-2 img {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex: 1;
    max-width: 50px;
    height: 50px;
  }

  .hero-2 div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .hero-2 p {
    flex: 2;
  }

  .hero-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .hero-3 img {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex: 1;
    max-width: 50px;
    height: 50px;
  }

  .hero-3 div {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .hero-3 p {
    flex: 2;
  }

  .homepage-signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage-signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    margin: 20px 0px 50px 0px;
    max-width: 80%;
  }

  .homepage button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }
}

@media all and (min-width: 800px) {
  section p,
  h2 {
    max-width: 70%;
  }

  div p {
    flex: 2;
    font-size: 25px;
    max-width: 50%;
  }

  section div img {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex: 1;
    max-width: 200px;
    height: auto;
  }

  .hero-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  section div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .hero-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .homepage-signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage-signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    margin: 20px 0px 50px 0px;
  }

  .homepage button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }
}
