@media all and (max-width: 800px) {
  .hero-1 {
    padding-top: 20px !important;
  }

  .hero h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .white-background {
    background-color: white;
  }

  .hero p {
    font-size: 15px;
  }

  .hero-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .hero img {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 200px;
    height: auto;
  }

  .hero {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
  }

  .homepage-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .homepage-signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .homepage button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }
}

@media all and (min-width: 800px) {
  .hero-1 {
    padding-top: 20px !important;
  }

  section p,
  h2 {
    max-width: 70%;
  }

  .hero h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .white-background {
    background-color: white;
  }

  .hero p {
    font-size: 25px;
  }

  .hero-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 200px;
    height: auto;
  }

  .hero {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
  }

  .homepage-signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage-signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    margin: 50px 0px 50px 0px;
  }

  .homepage button {
    margin-top: 15px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }
}
