@media all and (max-width: 800px) {
  .back-button-bar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 10px 0px 0px 10px;
  }

  .edit-gift-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .edit-gift-section img {
    display: block;
    max-width: 30px;
    margin-right: 10px;
    height: 30px;
  }

  .edit-gift-section form {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 20px 10px 0px 10px;
    background-color: white;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .edit-gift-section form input {
    margin: 10px 0px 10px 0px;
    min-width: 95%;
  }

  .edit-gift-section textarea {
    margin: 10px 0px 10px 0px;
    width: 95%;
  }

  .edit-gift-section select {
    margin: 10px 0px 10px 0px;
    width: 95%;
  }

  .edit-gift-section button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 10px 45px 10px 10px;
    font-size: 18px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .edit-gift-section button:disabled {
    background-color: lightgrey;
  }
}

@media all and (min-width: 800px) {
  .back-button-bar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 10px 0px 0px 10px;
  }

  .edit-gift-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .edit-gift-section img {
    display: block;
    max-width: 30px;
    margin-right: 10px;
    height: 30px;
  }

  .edit-gift-section form {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 20px 10px 0px 10px;
    background-color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .edit-gift-section form input {
    margin: 10px 0px 10px 0px;
    min-width: 95%;
  }

  .edit-gift-section textarea {
    margin: 10px 0px 10px 0px;
    width: 95%;
  }

  .edit-gift-section select {
    margin: 15px 0px 10px 20px;
    width: 25%;
  }

  .edit-gift-section button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 10px 45px 10px 10px;
    font-size: 20px;
    background-color: #f941443b;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.42);
  }

  .edit-gift-section button:disabled {
    background-color: lightgrey;
  }

  .edit-gift-section button:disabled:hover {
    background-color: lightgrey;
  }

  .edit-gift-section button:hover {
    background-color: #f94144;
    color: white;
    transition-duration: 0.3s;
  }
}
